<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sansil.gxsx.mapper.DomainMapper">

	<!-- 메인 -->
	<select id="listlo" resultType="LostItem">
		<![CDATA[
			select * from (select * from LostItem order by LONO desc) where ROWNUM <=3
		]]>
	</select>
	<select id="listfi" resultType="FindItem">
		<![CDATA[
			select * from (select * from FindItem order by FINO desc) where ROWNUM <=3
		]]>
	</select>
	<select id="listlopic" resultType="LostPic">
		<![CDATA[
			select * from LostPic where LOPNO IN (select LONO from (select * from LostItem order by LONO desc) where ROWNUM <=3) order by LOPNO desc
		]]>
	</select>	
	<select id="listfipic" resultType="FindPic">
		<![CDATA[
			select * from FINDPIC where FIPNO IN (select FINO from (select * from FindItem order by FINO desc) where ROWNUM <=3) order by FIPNO desc
		]]>
	</select>
	
	<insert id="signup" parameterType="Users">
		insert into Users values(#{userid}, #{upwd}, #{uname}, #{uemail}, #{upnum}, null)
	</insert>
	
	<select id="login" resultType="Users" parameterType="HashMap">
		select * from USERS where userid = #{userid} and upwd = #{upwd}
	</select>
	
	<select id="usercheck" resultType="Users" parameterType="String">
		select * from USERS where userid = #{kid}
	</select>
	
	<select id="idcheck" resultType="int" parameterType="String">
		select count(userid) from USERS where userid = #{userid}
	</select>
	
	
	<!-- 공지사항 -->
	<select id="noticelist" resultType="NoticeVo" parameterType="Pagination">
		<![CDATA[
			select * from (select ROWNUM as RNUM, Z.* from (select * from NOTICE order by NONO desc) Z where ROWNUM <= #{endRow} ) WHERE RNUM >= #{startRow}
		]]>
	</select>
	
	<select id="noticesearch" resultType="NoticeVo" parameterType="HashMap">
		<![CDATA[
			select * from (select ROWNUM as RNUM, Z.* from (select * from NOTICE where NOSUB like '%'||#{query}||'%' order by NONO desc) Z where ROWNUM <= #{paging.endRow} ) WHERE RNUM >= #{paging.startRow}
		]]>
	</select>
	
	<select id="noticecount" resultType="long">
		select count(*) from NOTICE
	</select>
	
	<select id="noticeScount" resultType="long" parameterType="String">
		select count(*) from NOTICE where NOSUB like '%'||#{query}||'%'
	</select>
	
	<select id="noticecon" resultType="Notice" parameterType="int">
		select * from NOTICE where nono = #{nono}
	</select>
	
	<select id="noticeup" resultType="Notice" parameterType="int">
		<![CDATA[
			select * from NOTICE where nono=(select min(nono) from NOTICE where nono > #{nono})
		]]>
	</select>
	
	<select id="noticedown" resultType="Notice" parameterType="int">
		<![CDATA[
			select * from NOTICE where nono=(select max(nono) from NOTICE where nono < #{nono})
		]]>
	</select>
	
	<select id="userpower" resultType="String" parameterType="String">
		select userpower from USERSPOWER where userid = #{userid}
	</select>
	
	<insert id="noticewrite" parameterType="Notice">
		insert into NOTICE values(NOTICE_SEQ_PK.nextval, #{nouid}, #{nosub}, #{nocon}, SYSDATE, #{nocate})
	</insert>
	
	<update id="noticeedit" parameterType="Notice">
		update NOTICE set nosub = #{nosub}, nocon = #{nocon}, nocate = #{nocate}, nodate = SYSDATE where nono = #{nono}
	</update>
	
	<delete id="noticedel" parameterType="int">
		delete from NOTICE where nono = #{nono}
	</delete>

</mapper>